<h1>Can You Say My Name?</h1>
<p class="tagline">The most boring game not on the Internet today</p>

<% if flash[:errors]%>
<li style="color:red"><%= flash[:errors] %> </li>
<%end %>

<%= image_tag "/beyonce.jpg" %>

<%= form_with url: "/users", method: "post" do %>
  <%= label_tag :username, "Username:" %>
  <%= text_field_tag :username, @user.username %>
  <%= submit_tag "Create User" %>
<% end %>

